depexts: [
  "libgpiod-dev" { os-distribution = "alpine" }
  "libgpiod-dev" { os-distribution = "debian" }
  "libgpiod" { os-distribution = "fedora" }
  "libgpiod" { os-distribution = "opensuse" }
  "libgpiod" { os-distribution = "oraclelinux" }
]
available: [ os = "linux" ]

